<section class="row" id="arena" data-room-id="<%= @room_id%>">
  <button id='start'>Start</button>
  <video id="local-video" autoplay playsinline></video>
  <br>
  <video id="remote-video" autoplay playsinline></video>
</section>
